<%- include('./_layouts/header') %>
<link rel="stylesheet" href="/css/product_detail.css">
<div class="product-detail-container">
    <div class="product-detail-card">    
        <div class="img-container">
            <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="<%= p.title%>">
        </div>
        <div class="content">
            <p class="product-name"><%= p.title%></p>
            <p class="product-desc">$<%= parseFloat(p.price).toFixed(2) %></p>
            <p class="product-desc"><%= p.desc %></p>
            <% if (loggedIn) { %>
            <p class="product-desc"><a href="/cart/add/<%= p.slug %>">Add to cart</a></p>
            <% } else {%>
            <p>You must be logged in to purchase items.</p>
            <% } %>
        </div>
    </div>
    <!-- <div class="col-xs-12">
        <ul class="gallery">
            <% galleryImages.forEach(function(image){ %>
            <% if (image != "thumbs") { %>
            <li>
                <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                    <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
                </a>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </div> -->
</div>

<%- include('./_layouts/footer') %>