<div class="login">
        <div class="row">
            <div class="col-lg-2"></div>
              <div class="col-lg-4">
                  <h4 class="title">New Customers</h4>
                  <h5 class="sub_title">Register Account</h5>
                  <p>You don't have an acount, let's register now</p>
                  <div class="button1">
                     <a href="/register"><input type="submit" name="Submit" value="Register"></a>
                   </div>
                   <div class="clear"></div>
              </div>
              <div class="col-lg-4">
                <div class="login-title">
                     <h4 class="title">Registered Customers</h4>
                   <div class="comments-area">
                      <form id="form-login"  action='/login' method="post">
                          <p>
                              <label>Username</label>
                              <span>*</span>
                                {{#if username}}
                                <input type="text" name="username" value="{{username}}" placeholder="{{username}}">
                                {{else}}
                                <input type="text" name="username" value="">
                                {{/if}}
                          </p>
                          <p>
                              <label>Password</label>   
                              <span>*</span>
                              <input type="password" name="password" value="">
                          </p>
                            {{#if wrongPassword}}
                            <p style="color:red">Username or password is incorrect!</p>
                            {{/if}}
                           <p id="login-form-remember">
                              <label><a href="/forget">Forget Your Password ? </a></label>
                           </p>
                           <p>
                              <input type="submit" value="Login">
                          </p>
                      </form>
                  </div>
                </div>
              </div>
              {{!-- <div class="clear"></div> --}}
        </div>
</div>
<br>



<script>
    var form = document.getElementById("form-login");
    form.action = window.location.href;
    form.method = "post";
</script>


<script>
    if({{flag}} == 1){
        alert("Account has been activated!")
    }
    if({{flag}} == 2){
        alert("Reset password success")
    }
</script>
