<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers &mdash; Shoes Shopping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">
    
  </head>
<body>
<!--header section start -->
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <div class="site-block-top-search">
                 <span class="icon icon-search2"></span>
                 {{#if nameSearch}}
                <input type="text" id='Search-name' name="searchName" class="form-control border-0" placeholder="{{nameSearch}}">
                {{else}}
                <input type="text" id='Search-name' name="searchName" class="form-control border-0" placeholder="Search">
                {{/if}}
              </div>
            </div>
            <script>
              const search = document.getElementById('Search-name');
              search.addEventListener("keyup", function(event) {
                inputTextValue = event.target.value;
                if (event.keyCode == 13) {
                  event.preventDefault();
                  search.placeholder = inputTextValue
                  console.log(search)
                  if(window.location.href.search("page") == -1){
                    if(window.location.href.search("/product") != -1){
                      window.location.href = window.location.href + "?page=1&search=" + inputTextValue;
                    }
                    else{
                      window.location.href = "/product?page=1&search=" + inputTextValue;
                    }
                  }
                  else{
                    if(window.location.href.search("&search=") != -1){
                      str = window.location.href.substring(0,window.location.href.search("&search="))
                      strinput = window.location.href.substring(window.location.href.search("&search=")+8)
                      strinput = strinput.substring(0,strinput.search("&"))
                      strEnd = ""
                      if(strinput.length !=0){
                        strEnd =  window.location.href.substring(window.location.href.search("&search=")+ strinput.length + 8)
                      }
                      console.log(strEnd)
                      window.location.href = str + "&search=" + inputTextValue + strEnd;
                    }
                    else{
                      window.location.href = window.location.href + "&search=" + inputTextValue;
                    }
                  }
                }
              });
            </script>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">Shoppers</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  {{#if user}}
                    <li><p>Hi {{user.username}}</p></li>
                    <li><a href="/logout">Sign out</a></li>
                  {{else}}
                    <li><a href="/login">Sign in</a></li>
                  {{/if}}
                  <li><a href="/users/profile"><span class="icon icon-person" title="Profile"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="/cart" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li><a href="/product">Shop</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
{{{body}}}
<!-- footer section start -->
<footer class="site-footer border-top">
    <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
        <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
    </div>
</footer>
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{!-- <script src="/js/jquery-3.3.1.min.js"></script> --}}
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/main.js"></script>


</body>
</html>