
<div class="bg-light py-3">
    <div class="container">
    <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{products.name}}</strong></div>
    </div>
    </div>
</div>  
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><a href="/product" class="btn btn-sm btn-primary">Back to shop</a></p>
          </div>
        </div>
      </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dgci6plhk/image/upload/images/{{products.id}}/{{products.nameImage}}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">{{products.name}}</h2>
                <p>{{products.detail}}</p>
                {{!-- <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p> --}}
                <p><strong class="text-primary h4">{{products.price}}đ</strong></p>
                <div class="mb-1 d-flex">
                    <label for="option-sm" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes" value="{{products.size}}" checked="checked"</span> <span class="d-inline-block text-black">{{products.size}}</span>
                    </label>
                    {{!-- <label for="option-md" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
                    </label>
                    <label for="option-lg" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
                    </label>
                    <label for="option-xl" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
                    </label> --}}
                </div>
                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" id="number-to-add" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>
                </div>
                <form class="form-addtocart" action="/cart/add" method="post">
                    <input class="input-quantity" id="input-qty" type="text" name="quantity" value="1" hidden >
                    <input class="input-id" type="text" name="id" value="{{products._id}}" hidden >
                    {{!-- <input type="text" name="id" value="{{products._id}}" hidden> --}}
                    {{!-- <p><a href="/cart/add/{{products._id}}" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p> --}}
                    <input class="buy-now btn btn-sm btn-primary" value="Add To Cart2" type="submit">
                </form>
                

            </div>
        </div>
    </div>

        
        <div class="be-comment-block">
        {{#if user}}
        <form class="form-block" method="post" >
            <div class="row">
                <div class="col-xs-12 col-sm-12">									
                    <div class="form-group" id= "comment-form">
                        <input class="form-input" type="hidden" id= "comment-username" name="username" placeholder="{{user.username}}" value="{{user.username}}">
                        <input type="hidden" name="productID" value="{{products.id}}" id = "product-id">
                        <input type= "text" name= "content" id= "comment-content" class="form-input" required="" placeholder="Please your comment here"></input>
                        <input  class="btn btn-primary pull-right" type = "submit" value= "Comment">
                    </div>
                </div>
            </div>
        </form>
        {{else}}
        <form class="form-block" method="post" >
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group fl_icon">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <input class="form-input" type="text" id= "comment-username" name="username" placeholder="Your name" >
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">									
                    <div class="form-group" id= "comment-form">
                        <input type="hidden" name="productID" value="{{products.id}}" id = "product-id">
                        <input type= "text" name= "content" id= "comment-content" class="form-input" required="" placeholder="Please your comment here"></input>
                        <input  class="btn btn-primary pull-right" type = "submit" value= "Comment">
                    </div>
                </div>
            </div>
        </form>

        {{/if}}
        <h1 class="comments-title">Comments ({{count}})</h1>
        <div id="comment-list">
        {{#each comments}}
        <div class="be-comment">
            <div class="be-img-comment">
                <img src="https://res.cloudinary.com/dgci6plhk/image/upload/user/{{this.userID}}/{{this.username}}.jpg" alt=""  onerror="this.onerror=null; this.src='https://bootdey.com/img/Content/avatar/avatar1.png'" class="be-ava-comment">	
                {{!-- <a href="blog-detail-2.html">
                    <img src="/users/update_avt/{{this.userID}}" alt=""  onerror="this.onerror=null; this.src='https://bootdey.com/img/Content/avatar/avatar1.png'" class="be-ava-comment">
                </a> --}}
            </div>
            <div class="be-comment-content">
                
                    <span class="be-comment-name">
                        <a href="blog-detail-2.html">{{this.username}}</a>
                        </span>
                    <span class="be-comment-time">
                        {{!-- <i class="fa fa-clock-o"></i>
                        May 27, 2015 at 3:14am --}}
                        {{this.createAt}}
                    </span>

                <p class="be-comment-text">
                    {{this.content}}
                </p>
            </div>
        </div>
        {{/each}}
        <div class="row" data-aos="fade-up" >
            <div class="col-md-12 text-right">
            <div class="site-block-27">
                <ul id="listcomment">
                </ul>
                
            </div>
            </div>
        </div>


        {{!-- <div class="be-comment">
            <div class="be-img-comment">	
                <a href="blog-detail-2.html">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="be-ava-comment">
                </a>
            </div>
            <div class="be-comment-content">
                <span class="be-comment-name">
                    <a href="blog-detail-2.html">Phoenix, the Creative Studio</a>
                </span>
                <span class="be-comment-time">
                    <i class="fa fa-clock-o"></i>
                    May 27, 2015 at 3:14am
                </span>
                <p class="be-comment-text">
                    Nunc ornare sed dolor sed mattis. In scelerisque dui a arcu mattis, at maximus eros commodo. Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant. Proin ut ornare lectus, vel eleifend est. Fusce hendrerit dui in turpis tristique blandit.
                </p>
            </div>
        </div>
        <div class="be-comment">
            <div class="be-img-comment">	
                <a href="blog-detail-2.html">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment">
                </a>
            </div>
            <div class="be-comment-content">
                <span class="be-comment-name">
                    <a href="blog-detail-2.html">Cüneyt ŞEN</a>
                </span>
                <span class="be-comment-time">
                    <i class="fa fa-clock-o"></i>
                    May 27, 2015 at 3:14am
                </span>
                <p class="be-comment-text">
                    Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant
                </p>
            </div>
        </div> --}}

    </div>

    </div>

</div>

<script id= "comment-template" type="text/x-handlebars"> 
    <div class="be-comment">
        <div class="be-img-comment">
            <img src="{{user.image}}" alt=""  onerror="this.onerror=null; this.src='https://bootdey.com/img/Content/avatar/avatar1.png'" class="be-ava-comment">	
        </div>
        <div class="be-comment-content">
            
                <span class="be-comment-name">
                    <a href="blog-detail-2.html">\{{username}}</a>
                    </span>
                <span class="be-comment-time">
                    New
                </span>

            <p class="be-comment-text">
                \{{content}}
            </p>
        </div>
    </div>

</script>

<script>
    var uList = document.getElementById("listcomment");
    var numPage = 3;
    var i = 1;  
    var tagLi = document.createElement("li");
    var link = document.createElement("a");
    link.id = "comment-page";
    if({{current}} == null){
    {{current}} == 1
    }
    //
    if({{current}} >= 3){
    i = {{current}} - 2;
    }

    // <
    if({{current}} == 1){
    link.href  = "#";
    link.textContent = "<";
    }
    else{
    var s = {{current}} - 1
    if(window.location.href.search("&") == -1){
        link.href  = `/product/detail/{{products.id}}?page=` + s;
    }
    else{
        str = window.location.href.substring(window.location.href.search("&"))
        link.href  = `/product/detail/{{products.id}}?page=${s}` + str;
    }
    link.textContent = "<";
    }
    tagLi.appendChild(link);
    uList.appendChild(tagLi);

    //center
    
    for(;i <= {{current}} + 2 && i <= {{pages}};i++){
    tagLi = document.createElement("li");
    link = document.createElement("a");
    link.id = "comment-page";
    if(i == {{current}}){
    tagLi.classList.add('active')
    link = document.createElement("span");
    link.textContent = i;
    }
    else{
    if(window.location.href.search("&") == -1){
        link.href = "/product/detail/{{products.id}}?page=" + i;
    }
    else{
        str = window.location.href.substring(window.location.href.search("&"))
        link.href  = `/product/detail/{{products.id}}?page=${i}` + str;
    }
    
    link.textContent = i;
    }
    tagLi.appendChild(link);
    uList.appendChild(tagLi); 
    }


    // >
    tagLi = document.createElement("li");
    link = document.createElement("a");
    link.id = "comment-page";
    if ({{current}} == {{pages}}) {
        link.href  = "#";
        link.textContent = ">";
    }
    else{
        var s = {{current}} + 1
    if(window.location.href.search("&") == -1){
        link.href  = `/product/detail/{{products.id}}?page=` + s;
    }
    else{
        str = window.location.href.substring(window.location.href.search("&"))
        link.href  = `/product/detail/{{products.id}}?page=${s}` + str;
    }
        link.textContent = ">";
    }
    tagLi.appendChild(link);
    uList.appendChild(tagLi); 
    
  </script>

<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Related Products</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <div class="nonloop-block-3 owl-carousel">
            {{#each productList}}
            <div class="item">
            <div class="block-4 text-center">
                <figure class="block-4-image">
                <a href="/product/detail/{{this.id}}?page=1&category={{this.category}}"><img src="https://res.cloudinary.com/dgci6plhk/image/upload/images/{{this.id}}/{{this.nameImage}}"  alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                <h3><a href="/product/detail/{{this.id}}?page=1&category={{this.category}}">{{this.name}}</a></h3>
                <p class="mb-0">Finding perfect t-shirt</p>
                <p class="text-primary font-weight-bold">{{this.price}}đ</p>
                </div>
            </div>
            </div>
            {{/each}}
        </div>
        </div>
    </div>
    </div>

</div> 

