    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            {{!-- <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Latest
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <a class="dropdown-item" href="#">Men</a>
                      <a class="dropdown-item" href="#">Women</a>
                      <a class="dropdown-item" href="#">Children</a>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <a class="dropdown-item" href="#">Relevance</a>
                      <a class="dropdown-item" href="#">Name, A to Z</a>
                      <a class="dropdown-item" href="#">Name, Z to A</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Price, low to high</a>
                      <a class="dropdown-item" href="#">Price, high to low</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> --}}
            <div class="row mb-5">
              {{!-- implement product here --}}

              {{!-- <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/shop-single"><img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="/shop-single">Tank Top</a></h3>
                    <p class="mb-0">Finding perfect t-shirt</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div> --}}
              
              {{#each products}}
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/product/detail/{{this.id}}?page=1&category={{this.category}}"><img src="https://res.cloudinary.com/dgci6plhk/image/upload/images/{{this.id}}/{{this.nameImage}}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="/product/detail/{{this.id}}?page=1&category={{this.category}}">{{this.name}}</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">{{this.price}}đ</p>

                  </div>
                </div>
              </div>
              {{/each}}

            </div>

            <div class="row" data-aos="fade-up" >
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul id="listpage" class = "listpageclass">

                  </ul>
                  
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="/product/Men?page=1" class="d-flex"><span>Men</span> <span class="text-black ml-auto"></span></a></li>
                <li class="mb-1"><a href="/product/Women?page=1" class="d-flex"><span>Women</span> <span class="text-black ml-auto"></span></a></li>
                <li class="mb-1"><a href="/product/Children?page=1" class="d-flex"><span>Children</span> <span class="text-black ml-auto"></span></a></li>
              </ul>
            </div>
          
            <div class="border p-4 rounded mb-4">

              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="Small" class="mr-2 mt-1"  name = "Size" value="Small"> <span class="text-black">Small </span>
                </label>
                <label for="s_md" class="d-flex">
                  <input type="checkbox" id="Medium" class="mr-2 mt-1"  name = "Size" value="Medium"> <span class="text-black">Medium</span>
                </label>
                <label for="s_lg" class="d-flex">
                  <input type="checkbox" id="Large" class="mr-2 mt-1"  name = "Size" value="Large"> <span class="text-black">Large</span>
                </label>
                <label for="s_ex" class="d-flex">
                  <input type="checkbox" id="Extra" class="mr-2 mt-1"  name = "Size" value="Extra"> <span class="text-black">Extra Large</span>
                </label>  
              </div>
              <script>
              if({{size}} == 1){
                 document.getElementById({{sizes}}.id).checked = true;
              }
              else{
                {{#each sizes}}
                 document.getElementById({{this}}.id).checked = true;
                {{/each}}
              }     
            </script>
            
            
              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
                <label for="c_re" class="d-flex">
                  <input type="checkbox" id="red" class="mr-2 mt-1" name = "Color" value="red"> <span class="text-black">Red </span>
                </label>
                <label for="c_gr" class="d-flex">
                  <input type="checkbox" id="green" class="mr-2 mt-1" name = "Color" value="green"> <span class="text-black">Green</span>
                </label>
                <label for="c_bl" class="d-flex">
                  <input type="checkbox" id="blue" class="mr-2 mt-1" name = "Color" value="blue"> <span class="text-black">Blue</span>
                </label>
                <label for="c_pu" class="d-flex">
                  <input type="checkbox" id="purple" class="mr-2 mt-1" name = "Color" value="purple"> <span class="text-black">Purple</span>
                </label>
              </div>

            <script>
            if({{color}} == 1){
                 document.getElementById({{colors}}.id).checked = true;
              }
              else{
                {{#each colors}}
                 document.getElementById({{this}}.id).checked = true;
                {{/each}}
              }
            </script>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="site-section site-blocks-2">
                <div class="row justify-content-center text-center mb-5">
                  <div class="col-md-7 site-section-heading pt-4">
                    <h2>Categories</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="/images/women.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Women</h3>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="/images/children.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Children</h3>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="/images/men.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Men</h3>
                      </div>
                    </a>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
        
      </div>
    <script>
      var uList = document.getElementById("listpage");
      var numPage = 3;
      var i = 1;  
      var tagLi = document.createElement("li");
      var link = document.createElement("a");
      link.className = "listpaginate";
      if({{current}} == null){
        {{current}} == 1
      }
      //
      if({{current}} >= 3){
        i = {{current}} - 2;
      }

      // <
      if({{current}} == 1){
        link.href  = "#";
        link.textContent = "<";
      }
      else{
        var s = {{current}} - 1
        if(window.location.href.search("&") == -1){
          link.href  = "/product?page=" + s;
        }
        else{
          str = window.location.href.substring(window.location.href.search("&"))
          link.href  = `/product?page=${s}` + str;
        }
        link.textContent = "<";
      }
      tagLi.appendChild(link);
      uList.appendChild(tagLi);

      //center
      
      for(;i <= {{current}} + 2 && i <= {{pages}};i++){
      tagLi = document.createElement("li");
      link = document.createElement("a");
      link.className = "listpaginate";
      if(i == {{current}}){
        tagLi.classList.add('active')
        link = document.createElement("span");
        link.textContent = i;
      }
      else{
        if(window.location.href.search("&") == -1){
          link.href = "/product?page=" + i;
        }
        else{
          str = window.location.href.substring(window.location.href.search("&"))
          link.href  = `/product?page=${i}` + str;
        }
        
        link.textContent = i;
      }
      tagLi.appendChild(link);
      uList.appendChild(tagLi); 
    }


      // >
      tagLi = document.createElement("li");
      link = document.createElement("a");
      link.className = "listpaginate";
      if ({{current}} == {{pages}}) {
          link.href  = "#";
          link.textContent = ">";
      }
      else{
          var s = {{current}} + 1
          if(window.location.href.search("&") == -1){
            link.href = "/product?page=" + s;
          }
          else{
            str = window.location.href.substring(window.location.href.search("&"))
            link.href  = `/product?page=${s}` + str;
          }
          link.textContent = ">";
      }
      tagLi.appendChild(link);
      uList.appendChild(tagLi); 
    
    </script>
    <script  src="/js/filter.js">
    </script>

    </div>